body {
    background-color: antiquewhite;
}


main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


#player1 {
    background-color: rgb(8, 112, 77);
    color: rgb(70, 70, 167);
    width: 40%;
    height: 55rem;
    text-align: center;
}

#current-score1{
    margin-top: 5rem;
    margin-left: 23%;
    background-color:rgb(76, 170, 139) ;
    height: 5rem;
    width: 5rem;
    border-radius: 5%;
}

#menu {
    background-color: rgb(150, 95, 24);
    height: 55rem;
}

#player2 {
    background-color: rgb(76, 170, 139);
    color: rgb(70, 70, 167);
    width: 40%;
    height: 55rem;
    text-align: center;
}

#current-score2{
    margin-top: 5rem;
    margin-left: 23%;
    background-color:rgb(8, 112, 77);
    height: 5rem;
    width: 5rem;
    border-radius: 5%;
}

#win {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    background-color: rgba(107, 36, 36, 0.918);
    height: 10rem;
    width: 20rem;
    margin-top: -80%;
    margin-left: 5%;
    border-radius: 2rem;
    padding-top: 5rem;
    font-size: xx-large;
}
